*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore

/functions/keys/*.pem
/functions/lib
/functions/node_modules
app/src/main/assets/license_account_public.pem
app/src/main/assets/license_local_public.pem
/cloudflare/.wrangler
/cloudflare/.dev.vars
/cloudflare/.env
